---
---
{% capture authors %}
  {% for author in entry.author_array %}
    {{ author.last }}, {{ author.first | slice: 0 }}.{% if forloop.last == false %}, & {% endif %}
  {% endfor %}
{% endcapture %}

<span class="author-list">
  {{ authors | replace: "Sahin, A.", "<strong>Sahin, A.</strong>" }}
</span>

({{ entry.year }}).

<span class="title">{{ entry.title }}</span>.
<span class="venue-info">
  {% if entry.type == "article" %}
  <i>{{ entry.journal }}</i>{% if entry.volume %}, <i>{{ entry.volume }}</i>{% endif %}{% if entry.pages %}, {{ entry.pages }}{% endif %}.
  {% elsif entry.type == "inproceedings" or entry.type =="conference" %}
  In <i>{{ entry.booktitle }}</i>{% if entry.pages %}, (pp. {{ entry.pages }}){% endif %}.
  {% elsif entry.type == "techreport" %}
  Technical Report{% if entry.number %} No. {{ entry.number }}{% endif %}, {{ entry.institution | default: entry.publisher }}.
  {% else %}
  <i>{{ entry.journal | default: entry.booktitle | default: entry.institution | default: entry.publisher }}</i>.
  {% endif %}
</span>

{% if entry.doi %}
  <span class="pub-links">
    <a href="https://doi.org/{{ entry.doi }}" target="_blank" rel="noopener noreferrer">{{ entry.doi }}</a>.
  </span>
{% endif %}

{% if entry.pdf %}
  <span class="pub-links">
    <a href="/assets/{{ entry.pdf }}" target="_blank">[Download PDF]</a>
  </span>
{% endif %}
